*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full {
    background-color: #FA50A8;
    opacity: 0.9;
    border-radius: 20px;
    box-shadow: 5px 5px 50px black;

    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;

    margin: 130px 450px;
    padding: 50px;
}

.fotoPerfil{
    display: flex;
    flex-direction: column;

    width: 100px;
    height: 200px;

    
}

.mylinks{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

body{
    background: url("/images/bannerLinkedIn.png") no-repeat fixed center;
    background-size: cover; /*Faz a imagem cobrir toda a tela*/
}